  <div class="container">
    <% if @crew.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@crew.errors.count, "error") %> prohibited this crew from being created:</h2>

      <ul>
      <% @crew.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <%= form_for @crew  do |f| %>
        <div>
          <%= f.label :name, "Name" %><br>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div>
          <%= f.label :role %><br />
          <%= f.select :role, [
              "Production Designer",
              "Decorator",
              "Asst. Decorator",
              "Coordinator",
              "Buyer",
              "Lead Dresser",
              "Driver",
              "Swamper",
              "Dresser"
            ], {}%>
        </div>
            <div>
          <%= f.label :phone %><br>
          <%= f.text_field :phone, placeholder: "Phone number", class: 'form-control exam_forms' %>
         </div>
          <div>
          <%= f.label :email %><br>
          <%= f.text_field :email, class: 'form-control', class: 'form-control exam_forms' %>
        </div>
        <div>
          <%= f.label :availability %><br>
          <%= f.text_field :availability, class: 'form-control exam_forms' %>
        </div>
        <div>
          <%= f.label :skills %><br>
          <%= f.text_field :skills, class: 'form-control exam_forms' %>
        </div>
        <div>
          <%= f.label :notes %><br>
          <%= f.text_field :notes, class: 'form-control exam_forms' %>
        </div>
        <div>
          <%= f.submit "Submit", class: 'form-control exam_forms' %> 
        </div>
      <% end %>
    </div>
