
<meta name="pdfkit-orientation" content="Landscape"/>
<div class="container-fluid content_dashboard">
  <div id="top-header" class="et-fixed-header pdf_only"> 

    <div class="top-wrapper"> 
      <% path =  "file://#{Rails.root}/public/assets/SetLogo_trans.png" %>
      <img src="<%= path %>", style="height:45px;width:auto;float:left;", id="top-header-logo" >
      <% path2 =  "file://#{Rails.root}/assets/SetLogo_trans.png" %>
      <img src="<%= path2 %>", style="height:45px;width:auto;float:left;", id="top-header-logo" >

   <h3 style="float:right;padding-right: 100px;"><%= Date.today.strftime("%b %d, %Y")  %></h3>
  
    </div>

</div>
<div class="pdf_only" style="margin-bottom: 25px;"></div>

  <div class="no_pdf">
    <%= link_to "Add Crew Member", new_crew_path, data: {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#remote_container'}, class: "btn btn-primary exam_button", style: "width:auto;float: left"  %>
    <%= link_to "Download PDF", pdfs_crews_path(format: "pdf"), target: :_blank, class: "btn btn-primary exam_button", style: "width:auto;float: left"  %>
    </div>
  <br />
  <br />


<% @certs = @project.dresser_days.to_i %>
<% @count = @dresser_days %>
<% if @certs && @certs > 0 %>
  <% @progress = ((@count.to_f / @certs.to_f).round(2) * 100).round(0) %> <!--/-->
<% else %>
      <% @progress = 0 %>
       <% end %>
<div class="progress-wrapper" style="clear:both;">
  <h3>Dresser Days</h3>
   <div class="progress">
        <div class="progress-bar progress-bar-striped bg-success " role="progressbar" style="width: <%= @progress %>%" aria-valuenow="" aria-valuemin="0" aria-valuemax=  <%= @certs %>>
          <% span_width = "no_data" if @count == 0 %>
          <span class="<%=span_width%>"><%= @dresser_days %></span>
        </div>
   </div>
   <div class="start">0</div>
   <div class="end"><%= @project.dresser_days ? @project.dresser_days.to_i : "Not Set" %></div>
</div>


  <div class="table-responsive">
    <table class="table">
      <tr>

        <th>Name</th>
        
        <th>Role</th>
        <th class="phone-col">Phone</th>
        <th>Email</th>
        <th>Availability</th>
        <th>Days Worked</th>
        <th>Planned Work</th>
        <th>skills</th>
        <th>Notes</th>
        <th>Updated</th>
 
        <th class="no_pdf">Manage</th>
      </tr>

       <% @crews.each do |crew|  %>
      <tr>
  
        <td><%= crew.name.titleize %></td>
        
        <% if crew.role && crew.role.length > 1 %>
            <td><%= crew.role  %></td>
          <% else %>
                <td style="color:red">Incomplete</td>
              <% end %>

        <% if crew.phone && crew.phone.length > 1  %>
            <td><%= crew.phone  %></td>
          <% else %>
                <td style="color:red">Incomplete</td>
              <% end %>

        <% if crew.email && crew.email.length > 1  %>
            <td><%= crew.email  %></td>
          <% else %>
                <td style="color:red">Incomplete</td>
              <% end %>

        <% if crew.availability && crew.availability.length > 1  %>
            <td><%= crew.availability  %></td>
          <% else %>
                <td style="color:red">Incomplete</td>
              <% end %>


        <% events_count = crew.events %>
        <% if events_count && events_count.length > 0
          past_count = events_count.where("start <= ?",  Date.today).count
          future_count = events_count.where("start > ?",  Date.today).count
         else 
          past_count = 0
          future_count = 0
         end %>
        <td><%= past_count %> <span class="no_pdf">(<%= link_to "view", crew_crew_events_path(crew) %>)</span></td>
        <td><%= future_count %> <span class="no_pdf">(<%= link_to "view", crew_crew_events_path(crew) %>)</span></td>
  
           <td>
              <% if crew.skills && crew.skills.length > 0 && crew.skills.kind_of?(Array) %>
                <% new_crew = [] %>
                <%  crew.skills.each do |crew| %>
                  <% if crew.length > 0 %>
                    <% new_crew.push(crew) %>
                  <% end %>
                <% end %>
                <%= new_crew.to_sentence %>
              <% elsif crew.skills %>
                <%= truncate(crew.skills, length: 15) %>
              <% else %>
                None
              <% end %>
            </td>
        
        <td><%= truncate(crew.notes, length: 10) %></td>
        <td><%= crew.updated_at.strftime("%b %d, %Y")  %></td>
  
        <td class="no_pdf">(<%= link_to "edit", edit_crew_path(crew), data: {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#remote_container'} %>, <%= link_to "delete", crew_path(crew), method: :delete, data: {confirm: "Are you sure you want to delete #{crew.id}?"} %>)</td>
      </tr>
      <% end %>

    </table>
  </div>
  
            <hr>
</div>