<div class="container-fluid content_dashboard">
<%= link_to "Add Crew Member", new_crew_path, class: "btn btn-primary exam_button", style: "width:auto;float: left"  %>
  <br />
  <br />
    <table class="table">
      <tr>

        <th>Name</th>
        
        <th>Role</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Availability</th>
        <th>Days Worked</th>
        <th>Planned Work</th>
        <th>skills</th>
        <th>Notes</th>
        <th>Updated</th>
        <th>ID #</th>
        <th>Manage</th>
      </tr>

       <% @crews.each do |crew|  %>
      <tr>
  
        <td><%= link_to crew.name, crew_path(crew) %></td>
        
        <td><%= crew.role %></td>
        <td><%= crew.phone %></td>
        <td><%= crew.email %></td>
        <td><%= crew.availability %></td>
        <% events_count = crew.events %>
        <% if events_count && events_count.length > 0
          past_count = events_count.where("start <= ?",  Date.today).count
          future_count = events_count.where("start > ?",  Date.today).count
         else 
          past_count = 0
          future_count = 0
         end %>
        <td><%= past_count %> (<%= link_to "view", crew_crew_events_path(crew) %>)</td>
        <td><%= future_count %> (<%= link_to "view", crew_crew_events_path(crew) %>)</td>
        
        <td><%= crew.skills %></td>
        <td><%= crew.notes %></td>
        <td><%= crew.updated_at.strftime("%b %d, %Y")  %></td>
        <td><%= crew.id%></td>
        <td>(<%= link_to "edit", edit_crew_path(crew) %>, <%= link_to "delete", crew_path(crew), method: :delete, data: {confirm: "Are you sure you want to delete #{crew.id}?"} %>)</td>
      </tr>
      <% end %>

    </table>
  
            <hr>
</div>