<div class="nested-fields">
				    <%= f.label :item %>
				    <%= f.text_field :item %>
				    <%= f.label :price %>
				    <%= f.number_field :price %>
				    <%= f.label :rental, "Purchase" %>
					<% purchase = true if f.object.rental == false %>
				    <%= f.radio_button :rental, "0", { checked: purchase } %>
				    <%= f.label :rental%>
					<%= f.radio_button :rental, "1", { checked: f.object.rental } %>

				
				    <%= link_to_remove_association "remove item", f %>
				  </div>