
				<div class="nested-fields">
					
				   <td> <%= f.text_field :item, class: 'form-control exam_forms' %></br></td>
				    <td><%= f.number_field :price, step: :any, class: 'form-control exam_forms' %></br></td>

					<% purchase = true if f.object.rental == false %>
				    <td><%= f.radio_button :rental, "0", { checked: purchase } %>
					<%= f.radio_button :rental, "1", { checked: f.object.rental } %></td>
					<td><%= link_to_remove_association "remove item", f %></td>
				
				   
				  </div>