
				<tr class="nested-fields">
					
				   <td> <%= f.text_field :item, class: 'exam_forms' %></br></td>
				    <td><%= f.number_field :price, step: :any, class: 'exam_forms' %></br></td>

					<% purchase = true if f.object.rental == false %>
				    <td><%= f.radio_button :rent_status, "0", { checked: purchase } %>
					<%= f.radio_button :rent_status, "1", { checked: f.object.rental } %></td>
					<td><%= link_to_remove_association "remove item", f, class: "btn btn-primary exam_button remove_button" %></td>
				
				   
				  </tr>