<div class="nested-fields">
				    <%= f.label :item %>
				    <%= f.text_field :item %>
				    <%= f.label :price %>
				    <%= f.number_field :price %>
				    <%= f.label :rental, "Purchase" %>
				    <%= f.radio_button :rental, "0" %>
				    <%= f.label :rental%>
					<%= f.radio_button :rental, "1" %>

				    <% if f.object.persisted? %>
				      <%= f.check_box :_destroy %>
				      <%= f.label :_destroy, "Destroy" %>
				    <% end %>
				    <%= link_to_remove_association "remove item", f %>
				  </div>