

      <%= form_for @budget  do |f| %>
        <% if @budget.errors.any? %>
        <div>
          <%= pluralize(@budget.errors.count, "error") %> prevented this budget from being submitted:
          <ul>
            <% @budget.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      
        <div id="set-fields">
		      <%= f.label :location_id, "Select a Set" %><%= link_to "No Set", "#", class: "btn btn-primary exam_button", id: "no-set", style: "width:auto;float: right"  %><br>
		      <%= f.collection_select :location_id, @project.locations, :id, :name, {}, {:class=>'form-control'}%>
		    </div>
         <div id="name-fields" style="display: none">
          <%= f.label :name %><br>
          <%= f.text_field :name, class: 'form-control exam_forms'%>
        </div>

        <%= f.hidden_field :location_id %>
          <%= f.submit "Submit", class: 'form-control exam_forms' %> 
        </div>
      <% end %>



      <script>
  $( function() {
      $("#no-set").click(function() {
        console.log("clicked");
        primeCheck()
      });


      function primeCheck() {
              $('#set-fields').fadeToggle( "slow", "linear" );
              $('#name-fields').fadeToggle( "slow", "linear" );
              $('#budget_location_id').val(false);
              
    
      };

  });
</script>
