

      <%= form_for @budget  do |f| %>
        <% if @budget.errors.any? %>
        <div>
          <%= pluralize(@budget.errors.count, "error") %> prevented this budget from being submitted:
          <ul>
            <% @budget.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
        <div>
		      <%= f.label :location_id, "Select a Set" %><br>
		      <%= f.collection_select :location_id, @project.locations, :id, :name, {}, {:class=>'form-control'}%>
		    </div>

		  <!--   <h2>Items</h2>
				<%= f.fields_for :budget_items do |ff| %>
				  <%= render 'budget_item_fields', f: ff %>
				<% end %> -->
				
        <div>
  <!--       	<%= link_to_add_association 'add item', f, :budget_items%> -->
          <%= f.submit "Submit", class: 'form-control exam_forms' %> 
        </div>
      <% end %>