<!--  <style> <%= Rails.application.assets['application.css'].to_s %> </style> -->

<div class="container-fluid content_dashboard">


<div class="no_pdf">
<!--   <%= link_to "Add a Budget", new_budget_path, data:  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#remote_container'}, class: "btn btn-primary exam_button" %> -->

  <%= link_to "Download PDF", pdfs_budgets_path, class: "btn btn-primary exam_button"  %>
</div>

 

  <br />



<!-- Total spent:  <%= number_to_currency(@budgets.joins(:budget_items).sum(:price)) %> of <%= number_to_currency(@project.budget) %> -->
<% @certs = @project.budget %>
<% @count = @budgets.joins(:budget_items).sum(:price) %>
<% if @certs && @certs > 0 %>
  <% @progress = ((@count.to_f / @certs.to_f).round(2) * 100).round(0) %> <!--/-->
<% else %>
      <% @progress = 0 %>
       <% end %>
<div class="progress-wrapper">
   <div class="progress">
        <div class="progress-bar progress-bar-striped bg-success " role="progressbar" style="width: <%= @progress %>%" aria-valuenow="" aria-valuemin="0" aria-valuemax=  <%= @certs %>>
          <% span_width = "no_data" if @count == 0 %>
          <span class="<%=span_width%>"><%= number_to_currency(@budgets.joins(:budget_items).sum(:price)) %></span>
        </div>
   </div>
   <div class="start">$0</div>
   <div class="end"><%= number_to_currency(@project.budget)%></div>
</div>
 <br />

    <table class="table">
      <tr>

        <th>Set</th>
        
        <th>No. Items</th>
        <th>Budgeted</th>
        <th>Actual</th>
        <th>Difference</th>


        <th class="no_pdf">Manage</th>

      </tr>

       <% @budgets.each do |budget|  %>
      <tr>
  
        
        <% if budget.location %>
            <td><%= link_to budget.location.name, budget_path(budget) %></td>
          <% elsif budget.name  %>
            <td><%= link_to budget.name.titleize, budget_path(budget) %></td>
          <% else %>
            <td style="color:red;">No Name (error)</td>
          <% end %>
        
        <td><%= budget.budget_items.count %></td>
        <td><%= number_to_currency(budget.budget_items.sum(:budgeted)) %></td>
        <td><%= number_to_currency(budget.budget_items.sum(:price)) %></td>

         <% if budget.budget_items.sum(:budgeted) > 0 && budget.budget_items.sum(:price) > 0 %>
            <% difference = budget.budget_items.sum(:budgeted) - budget.budget_items.sum(:price) %>
            <% if difference < 0 %>
              <td style="color: red">
            <% elsif difference > 0 %>
              <td style="color: green">
            <% else %>
              <td>
            <% end %>
                <%= number_to_currency(difference) %></td>
        <% else %>
          <td>Not Set</td>
        <% end %>

        <td class="no_pdf">(<%= link_to "edit", edit_budget_path(budget)%>, <%= link_to "delete", budget_path(budget), method: :delete, data: {confirm: "Are you sure you want to delete #{budget.id}?"} %>)</td>
       
      </tr>
      <% end %>

    </table>
  
            <hr>
</div>