<div class="container-fluid content_dashboard">
  <div id='remote_container'></div>

<div class="no_pdf">
  <%= link_to "Add a Budget", new_budget_path, data:  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#remote_container'}, class: "btn btn-primary exam_button" %>
  <button class="btn btn-primary exam_button dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Set Details
  </button>
  <%= link_to "Download PDF", budgets_path(format: "pdf"), target: :_blank, class: "btn btn-primary exam_button"  %>
</div>
    <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Sets</a></li>
      <% @budgets.each do |budget|  %>
      <li><%= link_to budget.location.name, budget_path(budget), class: "dropdown-item" %></li>
      <% end %>
    </ul>
 

  <br />



<!-- Total spent:  <%= number_to_currency(@budgets.joins(:budget_items).sum(:price)) %> of <%= number_to_currency(@project.budget) %> -->
<% @certs = @project.budget %>
<% @count = @budgets.joins(:budget_items).sum(:price) %>
<% if @certs > 0 %>
  <% @progress = ((@count.to_f / @certs.to_f).round(2) * 100).round(0) %> <!--/-->
<% else %>
      <% @progress = 0 %>
       <% end %>
<div class="progress-wrapper">
   <div class="progress">
                  <div class="progress-bar progress-bar-striped bg-success " role="progressbar" style="width: <%= @progress %>%" aria-valuenow="" aria-valuemin="0" aria-valuemax= <%= @certs %>>
                     <% span_width = "no_data" if @count == 0 %>
                    <span class="<%=span_width%>"><%= number_to_currency(@budgets.joins(:budget_items).sum(:price)) %></span>
                  </div>
   </div>
   <div class="start">$0</div>
   <div class="end"><%= number_to_currency(@project.budget)%></div>
</div>
 <br />

    <table class="table">
      <tr>

        <th>Set</th>
        
        <th>No. Items</th>
        <th>Total Cost</th>
        <th class="no_pdf">Manage</th>

      </tr>

       <% @budgets.each do |budget|  %>
      <tr>
  
        <td><%= link_to budget.location.name, budget_path(budget) %></td>
        
        <td><%= budget.budget_items.count %></td>
        <td><%= number_to_currency(budget.budget_items.sum(:price)) %></td>
        <td class="no_pdf">(<%= link_to "edit", edit_budget_path(budget)%>, <%= link_to "delete", budget_path(budget), method: :delete, data: {confirm: "Are you sure you want to delete #{budget.id}?"} %>)</td>
       
      </tr>
      <% end %>

    </table>
  
            <hr>
</div>