<div class="container-fluid content_dashboard">

<div class="dropdown">
  <%= link_to "Add a Budget", new_budget_path, class: "btn btn-primary exam_button" %>
  <button class="btn btn-primary exam_button dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Set Details
  </button>
    <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Sets</a></li>
      <% @budgets.each do |budget|  %>
      <li><%= link_to budget.location.name, budget_path(budget), class: "dropdown-item" %></li>
      <% end %>
    </ul>
 




<h2 style="float:right">Total for project:  <%= number_to_currency(BudgetItem.all.sum(:price)) %></h2>
 </div>
  <br />
  <br />
    <table class="table">
      <tr>

        <th>Set</th>
        
        <th>No. Items</th>
        <th>Total Cost</th>
        <th>Manage</th>

      </tr>

       <% @budgets.each do |budget|  %>
      <tr>
  
        <td><%= link_to budget.location.name, budget_path(budget) %></td>
        
        <td><%= budget.budget_items.count %></td>
        <td><%= number_to_currency(budget.budget_items.sum(:price)) %></td>
        <td>(<%= link_to "edit", edit_budget_path(budget) %>, <%= link_to "delete", budget_path(budget), method: :delete, data: {confirm: "Are you sure you want to delete #{budget.id}?"} %>)</td>
       
      </tr>
      <% end %>

    </table>
  
            <hr>
</div>