 <div class="container">
 	<div id='remote_container'></div>
 		<%= link_to "Return to Budget Page", budgets_path, class: "btn btn-primary exam_button" %><br /><br />
 		<h2>Budget for <%= @budget.location.name %> <%= link_to "Edit Mode", edit_budget_path(@budget), class: "btn btn-primary exam_button" %>
</h2> 
	 <table class="table">
	      <tr>

	        <th>Item</th>
	        
	        <th>Price</th>
	        <th>Rental/Purchase</th>
	        <th>ID</th>

	      </tr>

	       <% @budget.budget_items.each do |budget|  %>
	      <tr>
	  
	        <td><%= budget.item %></td>
	        
	        <td><%= number_to_currency(budget.price) %></td>

	        <td><%= budget.rental ? "Rental" : "Purchase" %></td>

	        <td><%= budget.id %></td>
	       
	      </tr>
	      <% end %>
	      <tr>
	      	<td></td>
	      	<td></td>
	      	<td class="total">Total</td>
	      	<td class="total"><%= number_to_currency(@budget.budget_items.sum(:price)) %></td>

	      </tr>

	    </table>
</div>
  