 <div class="container">
 	<div id='remote_container'></div>
 		<%= link_to "Return to Budget Page", budgets_path, class: "btn btn-primary exam_button" %><br /><br />
 		<h2>Budget for 
 			 		<% if @budget.location %>
 		<h2>Budget for <%= @budget.location.name %></h2>
 		<% elsif @budget.name  %>
 			<h2>Budget:  <%= @budget.name.titleize %></h2>
 		<% else %>
 			<h2>No Name (error)</h2>
 		<% end %>




 			<%= link_to "Edit Mode", edit_budget_path(@budget), class: "btn btn-primary exam_button" %>
</h2> 
	 <table class="table">
	      <tr>

	        <th>Item</th>
	        <th>Set Piece</th>
	        <th>Price</th>
	        <th>Rental/Purchase</th>
	        <th>ID</th>

	      </tr>

	       <% @budget.budget_items.each do |budget|  %>
	      <tr>
	  
	        <td><%= budget.item %></td>
	        <% if budget.rental %>
	        	<td><%= link_to "See Piece", location_rental_path(budget.budget.location, budget.rental), class: "exam_button table_button" %></td>
	        <% else %>
	        	<td><%= link_to "Add Piece","#", data: {confirm: "Under Construction"}, class: "exam_button table_button", id: "bright-yellow" %></td>
	        <% end %>
	        <td><%= number_to_currency(budget.price) %></td>

	        <td><%= budget.rental ? "Rental" : "Purchase" %></td>

	        <td><%= budget.id %></td>
	       
	      </tr>
	      <% end %>
	      <tr>
	      	<td></td>
	      	<td></td>
	      	<td class="total">Total</td>
	      	<td class="total"><%= number_to_currency(@budget.budget_items.sum(:price)) %></td>

	      </tr>

	    </table>
</div>
  