

 <div class="container">
  <%= render 'layouts/pdf_header' %>
 		<div class="no_pdf">
 			<%= link_to "Return to Budget Page", budgets_path, class: "btn btn-primary exam_button" %>
 		</div>
 			<br /><br />
 			 		<% if @budget.location %>
 		<h2>Budget for <%= @budget.location.name %></h2>
 		<% elsif @budget.name  %>
 			<h2>Budget:  <%= @budget.name.titleize %></h2>
 		<% else %>
 			<h2>No Name (error)</h2>
 		<% end %>



 		<div class="no_pdf">
 			<%= link_to "Edit Mode", edit_budget_path(@budget), class: "btn btn-primary exam_button " %>
 		</div>
</h2> 
	 <table class="table">
	      <tr>

	        <th>Item</th>
	        <th class="no_pdf">Set Piece</th>

	        <th>Price</th>

	        <th>Rental/Purchase</th>
	        <th>ID</th>

	      </tr>

	       <% @budget.budget_items.each do |budget|  %>
	      <tr>
	  
	        <td><%= budget.item %></td>
	        <% if budget.rental %>
	        	<td class="no_pdf"><%= link_to "See Piece", location_rental_path(budget.budget.location, budget.rental), class: "exam_button table_button" %></td>
	        <% else %>
	  			<% if budget.budget.location %>
	        	 	<td class="no_pdf"><%= link_to "Add a piece", new_location_rental_path(budget.budget.location, item: budget.id), data:  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#remote_container'}, class: "exam_button table_button", id: "bright-yellow"  %></td>
	        	<% else %>
	        		<td>N/A</td>
	        	<% end %>	
	        <% end %>

	        <td><%= number_to_currency(budget.price) %></td>


	        <td><%= budget.rent_status ? "Rental" : "Purchase" %></td>

	        <td><%= budget.id %></td>
	       
	      </tr>
	      <% end %>
	      <tr>
	      	<td></td>
	      	<td></td>
	      	<td class="total">Total</td>
	      	<td class="total"><%= number_to_currency(@budget.budget_items.sum(:price)) %></td>

	      </tr>

	    </table>
</div>
<div style='page-break-before:always'></div>
  