<%= form_for @event, remote: true do |f| %>
  <div class="form-inputs">
    <%= f.label :title %>
    <%= f.text_field :title %>
    <p>Select Crew Members</p>
        <div class="select_crews">
          <%= f.collection_check_boxes(:crew_ids, Crew.order(:name), :id, :name)  do |b| %>
            <div><%= b.check_box %>&nbsp;&nbsp;<%= b.label %></div>
    
          <% end %>
        </div>
     <%= f.text_field :date_range,  class: "form-control input-sm date-range-picker"  %>
    <%= f.hidden_field :start, value: Date.today, class: 'form-control input-sm start_hidden' %>
    <%= f.hidden_field :end, value: Date.today, class: 'form-control input-sm end_hidden' %>

    <%= f.select :color, [['Black','black'], ['Green','green'], ['Red','red'], ['Blue','blue'], ['Pink','pink'], ['Orange','orange'], ['Purple','purple']] %>
  </div>

  <div class="form-actions">
    <%= f.submit :submit %>
    <%= link_to 'Delete', 
                event, 
                method: :delete, 
                class: 'btn btn-danger', 
                data: { confirm: 'Are you sure?' }, 
                remote: true unless @event.new_record? %>
  </div>
<% end %>