<%= form_for @event, remote: true do |f| %>
  <div class="form-inputs">
    <%= f.label :title, "Shift type" %>
    <%= f.select :title, ["Prep", "Dress", "Wrap"] %>
    <p>Select Crew Members</p>
        <div class="select_crews">
          <%= f.collection_check_boxes(:crew_ids, Crew.order(:name), :id, :name)  do |b| %>
            <div><%= b.check_box %>&nbsp;&nbsp;<%= b.label %></div>
    
          <% end %>
        </div>

        <div id="set-fields">
        <%= f.label :location_id, "Select Set" %><%= link_to "No Set", "#", class: "modal_button exam_button", id: "no-set", style: "width:auto;float: right"  %><br>
        <%= f.collection_select :location_id, @project.locations, :id, :name, {}, {:class=>'form-control'}%>
      </div>
      <p>Select Dates/Times</p>
      <div id="TimePlan" style="width: 100%;height: auto" ></div>
     <%= f.text_field :date_range,  class: "form-control input-sm date-range-picker"  %>
    <%= f.hidden_field :start, value: Date.today, class: 'form-control input-sm start_hidden' %>
    <%= f.hidden_field :end, value: Date.today, class: 'form-control input-sm end_hidden' %>

     <%= f.hidden_field :location_id %>
  </div>

  <div class="form-actions">
    <%= f.submit :submit %>
    <%= link_to 'Delete', 
                event, 
                method: :delete, 
                class: 'btn btn-danger', 
                data: { confirm: 'Are you sure?' }, 
                remote: true unless @event.new_record? %>
  </div>
<% end %>
<script>
  $(function() {

      date_range_picker();
    console.log("date picker initialized from form");

      $("#no-set").click(function() {
        console.log("clicked");
        primeCheck()
      });


      function primeCheck() {
              $('#set-fields').fadeToggle( "slow", "linear" );
              $('#budget_location_id').val(false);
              
    
      };

  });
</script>
