   <div class="container">
    <h1>Rentals</h1>
    <h2>for <%= @set.name if @set %></h2>
    <hr>
    <% @rentals.each do |rental| %>
    <div >
        <%= link_to location_rental_path(@set, rental) do %>
            <div class="rental_img">
            <%= print_image rental.image_url.to_s %>
            <h2 class="rental-header"><%= link_to rental.desc, location_rental_path(@set, rental) %></h2>
            <h3 class="rental-header-small">Return by: <%= rental.due_date.strftime("%b %d, %Y")  %></h3>
            </div>
      <% end %>
    	

    </div>
     
    <% end %>
</div>