<div class="container">
	<div id='remote_container'></div>


	<div class="rental_show_header">
		<%= truncate(@rental.desc, length: 25, omission: "") %>
	</div>
	<div class="row rental_show_under_header">
		<div class="rental_img">
		    	<%= print_image @rental.image_url.to_s %>
			</div>
		<div class="rental_text">
			<h4>Description: <span class="rental_thin"><%= @rental.desc %></span></h4>
			<h4>Set: <span class="rental_thin"><%= @rental.location.name %></span></h4>
			<h4>Source: <span class="rental_thin"><%= @rental.source %></span></h4>

			<h4>Pickup Date: <span class="rental_thin">
				<% if @rental.pick_date %>
					<span class="rental_thin"><%= @rental.pick_date.strftime("%b %d, %Y")  %></span>
				<% else %>
					<span class="rental_thin">No date set</span>
				<% end %>

			</h4>
			<h4>Return by: <span class="rental_thin"><span class="rental_thin"><%= @rental.due_date.strftime("%b %d, %Y")  %></span></h4>
			<h4>Rental status: <span class="rental_thin"><%= @rental.rental ? "Rented" : "Purchased"  %></span></h4>
			<%= link_to "edit ", edit_location_rental_path(@set, @rental), data:  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#remote_container'}, class: "btn btn-primary exam_button"  %>
		<%= link_to "delete ", location_rental_path(@set, @rental), method: :delete, data: {confirm: "You sure?"}, class: "btn btn-primary exam_button"  %>
		</div>

		
	</div>


</div>
