<div class="container">
	<h2><%= @rental.desc %> (<%= link_to "edit", edit_location_rental_path(@set, @rental) %>, <%= link_to "delete", location_rental_path(@set, @rental), method: :delete, data: {confirm: "You sure?"} %>)</h2>
	<div class="rental_img">
	    	<%= print_image @rental.image_url.to_s %>
		</div>
	<div class="rental_text">
		<h4>Description: <%= @rental.desc %></h4>
		<h4>Set: <%= @rental.location.name %></h4>
		<h4>Source: <%= @rental.source %></h4>
		<h4>Return by: <%= @rental.due_date.strftime("%b %d, %Y")  %></h4>
		<h4>Rental?: <%= @rental.rental  %></h4>
	</div>

</div>