  <div class="container">

      <%= form_for @project  do |f| %>
        <div>
          <%= f.label :name, "Name" %><br>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
       
        
        <div style="margin-top: 25px">
          <%= f.label :budget %>
          <%= f.number_field :budget, class: 'form-control exam_forms' %>
        </div>
        <div style="margin-top: 25px">
          <%= f.label :company, "Production Company" %>
          <%= f.text_field :company, class: 'form-control exam_forms' %>
        </div>
        <div style="margin-top: 25px">
          <%= f.label :dresser_days  %>
          <%= f.number_field :dresser_days, class: 'form-control exam_forms' %>
        </div>
        <div style="margin-top: 25px">
          <%= f.submit "Submit", class: 'form-control exam_forms' %>
        </div>
      <% end %>
    </div>
