<div class="container-fluid content_dashboard">
  <div id='remote_container'></div>

<div class="no_pdf">
  <%= link_to "Add Project ", new_project_path, data:  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#remote_container'}, class: "btn btn-primary exam_button", style: "width:auto;float: left"  %>
        <%= link_to "Download PDF", projects_path(format: "pdf"), target: :_blank, class: "btn btn-primary exam_button", style: "width:auto;float: left"  %>

<div class="dropdown">
  <button class="btn btn-primary exam_button dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Current Project
  </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <% @projects.each do |pro|  %>
        <%= link_to pro.name, user_registration_path(:user => { :current_project => pro.id}), :method => :put, class: "dropdown-item"  %>
      <% end %>
  </div>




  </div>


  <br />
  <br />
    <table class="table">
      <tr>

        <th>Name</th>
        
        <th>Budget</th>


 
        <th class="no_pdf">Manage</th>
      </tr>

       <% @projects.each do |project|  %>
      <tr>
  
    <!--     <td><%= link_to project.name, project_path(project) %></td> -->
        <td><%= link_to project.name, project %></td>
        <td><%= number_to_currency(project.budget) %></td>
       <td class="no_pdf">(<%= link_to "edit", edit_project_path(project), data:  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#remote_container'} %>, <%= link_to "delete", project_path(project), method: :delete, data: {confirm: "Are you sure you want to delete #{project.id}?"} %>)</td>
      <% end %>

    </table>
  
            <hr>
            <div class="row">
              <h3>Download Forms</h3>
            </div>
            <div class="row">
               <%= link_to "Labels PDF", "public/Labels.pdf", class: "btn btn-primary exam_button", style: "width:auto;float: left"  %>
                <%= link_to "Transport PDF", 'public/Transport.pdf', class: "btn btn-primary exam_button", style: "width:auto;float: left"  %>
            </div>
          
</div>