<h1>Signing up for "<%= @subscription.plan.name %>"</h1>
<p>Includes <strong>?? Stuff ??</strong> for only <strong><%= number_to_currency @subscription.plan.price %></strong> per month!</p>

<%= form_for @subscription do |f| %>
  <% if @subscription.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>
      <ul>
      <% @subscription.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :plan_id %>

  <%= f.hidden_field :stripe_card_token %>


  <% if @subscription.stripe_card_token.present? %>
    Credit card has been provided.
  <% else %>
    <div class="field">
      <%= label_tag :card_number, "Credit Card Number" %>
      <%= text_field_tag :card_number, nil, name: nil %>
    </div>
    <div class="field">
      <%= label_tag :card_code, "Security Code on Card (CVV)" %>
      <%= text_field_tag :card_code, nil, name: nil %>
    </div>
    <div class="field">
      <%= label_tag :card_month, "Card Expiration" %>
      <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
      <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
    </div>
  <% end %>
  <div id="stripe_error">
    <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
  </div>
  <div class="actions">
    <%= f.submit "Subscribe" %>
  </div>
<% end %>


<script>
$( function() {
          
        // $('#paypal_checkout').hide();
        // $('#pay_with_paypal').click(function() {
        //       $('#paypal_checkout').show();
        //       $('#billing_fields').hide();
        //       // $('#features').hide();
        //       return true;
        //     });
        // $('#pay_with_card').click(function() {
        //       $('#paypal_checkout').hide();
        //       $('#billing_fields').show();
        //       // $('#features').hide();
        //       return true;
        //     });
       

        var subscription = {
          setupForm() {
            // return $('#stripe-submit').click(function() {
             return $('#new_subscription').submit(function() {
              $('input[type=submit]').attr('disabled', true);
              if ($('#card_number').length) {
                subscription.processCard();
                
                return false;
              }
               else {
                return true;
              }
            });
          },
          
          processCard() {
            const card = {
              number: $('#card_number').val(),
              cvc: $('#card_code').val(),
              expMonth: $('#card_month').val(),
              expYear: $('#card_year').val()
            };
            return Stripe.createToken(card, subscription.handleStripeResponse);
          console.log("Process Card Triggered")
          console.log(card)
          },
          
          
          handleStripeResponse(status, response) {
            if (status === 200) {
              
              
              $('#stripe_error').text(response.id);
              // $('#before-pay').hide();
              $('#subscription_stripe_card_token').val(response.id);
              return $('#new_subscription')[0].submit();
            } else {
              $('#stripe_error').text(response.error.message);
              return $('input[type=submit]').attr('disabled', false);
            }
          
            }
        };
        Stripe.setPublishableKey($('meta[name="stripe-key"]').attr('content'));
          return subscription.setupForm();
});
</script>