<meta name="pdfkit-orientation" content="Landscape"/>
<div class="container-fluid content_dashboard">
    <div id="top-header" class="et-fixed-header pdf_only"> 

    <div class="top-wrapper"> 

      <img src="https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-804672335471/uploads/SetLogo_trans.png", style="height:45px;float:left;" >
   <h3 style="float:right;padding-right: 100px;"><%= Date.today.strftime("%b %d, %Y")  %></h3>
  
    </div>

</div>
<div class="pdf_only" style="margin-bottom: 25px;"></div>

<div class="no_pdf">
    <%= link_to "Add a Set", new_location_path, data: {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#remote_container'}, class: "btn btn-primary exam_button", style: "width:auto;float: left"  %>
    <%= link_to "Download PDF", pdfs_locations_path(format: "pdf"), target: :_blank, class: "btn btn-primary exam_button", style: "width:auto;float: left"  %>
    </div>
  <br />
  <br />
   <div class="table-responsive">
     
    <table class="table">
      <tr>

  <!--     	<th>ID #</th> -->
        <th>INT/EXT</th>
        <th>Set Name</th>
        
        <th>City</th>
        <th>Location</th>

        
        <th class="no_pdf">Manage</th>
        
      </tr>

       <% @locations.each do |location|  %>
      <tr>
        <td><%= location.interior %></td>


        <td><%= location.name %></td>

        <% if location.city && location.city.length > 1 %>
          <td><%= location.city %></td>
        <% else %>
          <td>Not Available</td>
        <% end %>

        <% if location.street && location.street.length > 1 %>
          <td><%= location.street %></td>
        <% else %>
          <td>Not Available</td>
        <% end %>
       

        <td class="no_pdf">(<%= link_to "edit", edit_location_path(location), data: {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#remote_container'} %>, <%= link_to "delete", location_path(location), method: :delete, data: {confirm: "Are you sure you want to delete #{location.id}?"} %>)</td>
   
      </tr>
      <% end %>

    </table>
  </div>
  
            <hr>
</div>


      <img src="https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-804672335471/uploads/SetLogo_trans.png", style="height:45px;float:left;" class="pdf_only" >
  
