
<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
          <% if current_user
              logo_link = "/"
            else  
              logo_link = "/"
             end %>

             
          <div class="navbar-header"><%= link_to (image_tag "https://mixtapecoverking.com/wp-content/uploads/photo-gallery/s-logo.png" , style: 'height:45px;width:auto;'), logo_link, class: "navbar-left" %>
    
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navcol-1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          </div>
          <div class="collapse navbar-collapse" id="navcol-1">
              <ul class="navbar-nav mr-auto">

                  

                  <% if current_user %> 
                      <% if current_user.role == "Admin" %> 
                        <li role="presentation" class="nav_item"><%= link_to "Admin", admin_root_path, class: "nav-link" %></li>  
                       <% end %>
                      <li role="presentation" class="nav_item"><%= link_to "Projects", projects_path, class: "nav-link" %></li>   
                      <li role="presentation" class="nav_item"><%= link_to "Rentals", sets_rentals_path, class: "nav-link" %></li>
                      <li role="presentation" class="nav_item"><%= link_to "Sets List", locations_path, class: "nav-link" %></li>
                      <li role="presentation" class="nav_item"><%= link_to "Budget", budgets_path, class: "nav-link" %></li>
                      <li role="presentation" class="nav_item"><%= link_to "Crew List", crews_path, class: "nav-link" %></li>
                      <li role="presentation" class="nav_item"><%= link_to "Schedule", events_path, class: "nav-link" %></li>
    
                    

                      
                  <% else %>
                    <li role="presentation" class="nav_item"><%= link_to "Log In", new_user_session_path, class: "nav-link" %></li>
                    <li role="presentation" class="nav_item"><%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %></li>
                  <% end %>
              
                  <% if user_signed_in? %>
                    
                    <li role="presentation"><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %></li>

                    <li  style="margin-left: 15px" class="nav_item"><%= link_to raw("<strong>#{current_user.email}</strong>"), edit_user_registration_path, class: "nav-link" %></li>
                     
                      <% if current_project %>
                        <li><%= link_to "Project: #{truncate(current_project.name, length: 20)}", root_path, class: "nav-link" %></li>
                      <% else %>
                       <li><%= link_to "Project: none", "#", class: "nav-link" %></li>
                      <% end %>
                  <% else %>
            <!--      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
                    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %> -->
                  
                  <% end %>
                  <% unless current_user && current_user.role == "Admin" %>
                    <li role="presentation" class="nav_item"><%= link_to 'Contact', new_message_path, class: "nav-link" %></li>
                  <% end %>
                
              </ul>
          </div>
      </div>
  </nav>