<div id="top-header" class="et-fixed-header"> 
	<div class="header-container"> 
		<div class="top-wrapper"> 
			<%= link_to (image_tag "logo_trans_ol.png", style: 'height:45px;width:auto;float:left;', id: "top-header-logo"), root_path, class: "navbar-left" %>

			<div id="header-project">
				<% if current_project %>
                        <%= link_to "Project: #{truncate(current_project.name, length: 20)}", projects_path, class: "nav-link" %>
                      <% else %>
                      	<%= link_to "Project: none", "#", class: "nav-link" %>
                      <% end %>
            </div>

			<ul class="top_icons"> 
	
					<li>
						<%= link_to edit_user_registration_path  do %>
							<span data-toggle="tooltip" data-animation="false" title="Profile Settings"><i class="fas fa-user-circle"></i></span>
						<% end %>
					</li> 
					<li>
						<%= link_to destroy_user_session_path, method: :delete  do %>
							<span data-toggle="tooltip" data-animation="false" title="Log Out"><i class="fas fa-sign-out-alt"></i></span>
						<% end %>
					</li> 
					<li>
						<%= link_to new_message_path  do %>
							<span  data-toggle="tooltip" data-animation="false" title="Contact Us"><i class="fas fa-envelope"></i></span>
						<% end %>
					</li> 
					<li>
						<%= link_to "pages/forms"  do %>
							<span  data-toggle="tooltip" data-animation="false" title="Download Forms"><i class="fas fa-download"></i></span>
						<% end %>
					</li> 
			


                     <li><div class="dropdown">
			
				      	<a class="dropdown-toggle" href="#" id="dropdownMenuButton"" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				        <span data-toggle="tooltip" data-animation="false" title="Current Project"><i class="fas fa-film"></i></span>
				      </a>
				          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				          <% current_user.projects.each do |pro|  %>
				              <%= link_to pro.name, user_registration_path(:user => { :current_project => pro.id}), :method => :put, class: "dropdown-item"  %>
				            <% end %>
				        </div>
				      </div></li>




					
	
		
				<% if current_user %>

                <% else %>
                	<li class="header-login"><%= link_to "sign in", new_user_session_path %></li>
                 <% end %>
			</ul> 
		</div>
	</div> 
</div>